@{ViewData["Title"] = "Home Page";}

@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    </div>
        <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Welcome to the Wedding Planner</h1><br><br>
            </div>
        </div>
            <div class="col-sm-4 offset-sm-10">
                <a href="/logout">Log Out</a>
            </div> 
        <div class="row">
                <div class="col-lg offset-sm-2">
                    <h4 style="align-text:center">Hello "@Model.LoggedUser.FirstName"! &nbsp; Great to see you again!</h4><br><br>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <table class="table">
                    <thead>
                        <th>Wedding</th>
                        <th>Date</th>
                        <th>Guests</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        @foreach(Wedding wedding in Model.AllWeddings)
                        {
                            <tr>
                                <td><a href="/weddings/@wedding.WeddingId">@wedding.PartnerOne & @wedding.PartnerTwo</a></td>
                                <td>@wedding.Date.Value.ToString("MMM dd yyyy")</td>
                                <td>@wedding.GuestsAttending.Count</td>
                                <td>@if(wedding.UserId == Model.LoggedUser.UserId)
                                    {
                                        <a href="/weddings/@wedding.WeddingId/edit"><button class="btn btn-primary">Edit</button></a> <a href="/weddings/@wedding.WeddingId/delete"><button class="btn btn-danger">Delete</button></a>
                                    }
                                    else if(wedding.GuestsAttending.Any(r => r.UserId == Model.LoggedUser.UserId))
                                    {
                                        <a href="/weddings/@wedding.WeddingId/unrsvp"><button class="btn btn-secondary">Un-RSVP</button></a>
                                    }
                                    else
                                    {
                                        <a href="/weddings/@wedding.WeddingId/rsvp"><button class="btn btn-primary">RSVP</button></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="/weddings/new" class="col-sm-4 offset-sm-8"><button class="btn btn-primary">Add a New Wedding</button></a>
        </div><br>
        <form asp-controller="Home" asp-action="Logout">
        <div class="row">
            <a class="col-sm-4 offset-sm-8"><button class="btn btn-warning">Logout</button></a>
        </div>
        </form>
    </div>
    <div class="text-center">
        <img src="~/img/contourDancing.jpg" style="height:900px;margin:-400px 0px 0px 0px" alt="hand"/>
    </div> 
</body>
</html>